In [120]:
import pandas as pd

In [121]:
df = pd.read_excel('Pedidos Semanal.xlsx', sheet_name='COMPRAS',skiprows=2,header=0)

In [122]:
df.drop(columns=['shelflife','Estoque'],inplace=True)

In [123]:
df = df[df['Status'] == 'Pedido']

In [124]:
df.drop(columns='Status',inplace=True)

In [125]:
colums_list = df.columns.to_list()
colums_list 
dias = colums_list[3:14]
dias_strg = ','.join(dias)
dias_strg

'TERÇA 7/5,QUARTA 8/5,QUINTA 9/5,SEXTA 10/5,SABADO 11/5,DOMINGO 12/5,SEGUNDA 13/5,TERÇA 14/5,QUARTA 15/5,QUINTA 16/5,SEXTA 17/5'

In [126]:
df = df.melt(id_vars=['Responsável','Item','BASE ID'],value_vars=dias,var_name='Pedido',value_name='Valor',ignore_index=True )

In [127]:
df = df.dropna(subset=['Valor'])

In [128]:
def separar_dia(dia):
    dia = dia.split(' ')
    dia = dia[0]
    return dia
df['Dia'] = df['Pedido'].apply(separar_dia)

def separar_data(data):
    data = data.split(' ')
    data = data[1]
    data = data + '/2024'
    return data

df['Data'] = df['Pedido'].apply(separar_data)
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')

In [129]:
df = df.sort_values(by=['Responsável','Data','Item'],ascending=True)

In [130]:
df

,Responsável,Item,BASE ID,Pedido,Valor,Dia,Data
119,Byanca,Abacaxi pérola,8.0,QUARTA 8/5,1600.0,QUARTA,2024-05-08
176,Byanca,Laranja pera média,210.0,QUARTA 8/5,4000.0,QUARTA,2024-05-08
179,Byanca,Limão siciliano,110.0,QUARTA 8/5,120.0,QUARTA,2024-05-08
180,Byanca,Limão tahiti,234.0,QUARTA 8/5,1600.0,QUARTA,2024-05-08
191,Byanca,Maracujá,34.0,QUARTA 8/5,500.0,QUARTA,2024-05-08
...,...,...,...,...,...,...,...
854,Nidia,Batata lavada,182.0,TERÇA 14/5,3000.0,TERÇA,2024-05-14
855,Nidia,Berinjela,222.0,TERÇA 14/5,680.0,TERÇA,2024-05-14
983,Nidia,Chuchu,157.0,QUARTA 15/5,480.0,QUARTA,2024-05-15
1030,Nidia,Pepino japonês,33.0,QUARTA 15/5,480.0,QUARTA,2024-05-15
1148,Nidia,Pepino japonês,33.0,QUINTA 16/5,500.0,QUINTA,2024-05-16

In [153]:
import datetime
import numpy as np

In [132]:
date_today = datetime.datetime.today().date()

In [157]:
_today= datetime.datetime.today().strftime('%Y-%m-%d')
_today = np.datetime64(_today)

In [137]:
df['Data'].describe

<bound method NDFrame.describe of 119    2024-05-08
176    2024-05-08
179    2024-05-08
180    2024-05-08
191    2024-05-08
          ...
854    2024-05-14
855    2024-05-14
983    2024-05-15
1030   2024-05-15
1148   2024-05-16
Name: Data, Length: 223, dtype: datetime64[ns]>

In [158]:
type(_today)

numpy.datetime64

In [159]:
_today

numpy.datetime64('2024-05-09')

In [164]:
df[df['Data'] >= _today]

,Responsável,Item,BASE ID,Pedido,Valor,Dia,Data
355,Byanca,Abacaxi pérola,8.0,SEXTA 10/5,1300.0,SEXTA,2024-05-10
412,Byanca,Laranja pera média,210.0,SEXTA 10/5,8000.0,SEXTA,2024-05-10
415,Byanca,Limão siciliano,110.0,SEXTA 10/5,600.0,SEXTA,2024-05-10
416,Byanca,Limão tahiti,234.0,SEXTA 10/5,3800.0,SEXTA,2024-05-10
427,Byanca,Maracujá,34.0,SEXTA 10/5,620.0,SEXTA,2024-05-10
...,...,...,...,...,...,...,...
854,Nidia,Batata lavada,182.0,TERÇA 14/5,3000.0,TERÇA,2024-05-14
855,Nidia,Berinjela,222.0,TERÇA 14/5,680.0,TERÇA,2024-05-14
983,Nidia,Chuchu,157.0,QUARTA 15/5,480.0,QUARTA,2024-05-15
1030,Nidia,Pepino japonês,33.0,QUARTA 15/5,480.0,QUARTA,2024-05-15
1148,Nidia,Pepino japonês,33.0,QUINTA 16/5,500.0,QUINTA,2024-05-16